common/tool/config.hpp
patrace/src/tool/PyPATrace/CallCreator.py

patrace/src/common/call_parser.cpp
patrace/src/common/api_info_auto.cpp

patrace/src/fakedriver/egl/auto.cpp
patrace/src/fakedriver/gles1/auto.cpp
patrace/src/fakedriver/gles2/auto.cpp
patrace/src/fakedriver/single/auto.cpp

patrace/src/dispatch/eglproc_auto.cpp
patrace/src/dispatch/eglproc_auto.hpp
patrace/src/dispatch/eglproc_trace.hpp
patrace/src/retracer/retrace_gles_auto.cpp
patrace/src/fastforwarder/fastforward_gles_auto.cpp
patrace/src/tracer/egltrace_auto.cpp
patrace/src/tracer/sig_enum.hpp
patrace/src/helper/paramsize.cpp
patrace/src/specs/khronos_enums.hpp
patrace/src/specs/pa_gl31.h
patrace/src/specs/pa_gl31.cpp
patrace/src/specs/pa_func_to_version.cpp
patrace/src/specs/pa_func_to_version.h
patrace/src/specs/stub_egl.cpp
patrace/src/specs/stub_gles1.cpp
patrace/src/specs/stub_gles2.cpp
patrace/src/drawstate/drawstate_gles_auto.cpp

patrace/project/android/eglretrace/libs/
patrace/project/android/eglretrace/obj/
patrace/project/android/egltrace/libs/
patrace/project/android/egltrace/obj/

patrace/project/android/eglretrace/bin/
patrace/project/android/eglretrace/build.xml
patrace/project/android/eglretrace/gen/
patrace/project/android/eglretrace/local.properties
patrace/project/android/eglretrace/project.properties
patrace/project/android/eglretrace/proguard-project.txt
patrace/project/android/fakedriver/libs/
patrace/project/android/fakedriver/obj/
patrace/project/android/patraceui/bin/
patrace/project/android/patraceui/build.xml
patrace/project/android/patraceui/gen/
patrace/project/android/patraceui/local.properties
patrace/project/android/patraceui/project.properties
patrace/project/android/patraceui/src/com/arm/pa/patraceui/patraceui.java
patrace/project/android/exetrace/build.xml
patrace/project/android/exetrace/local.properties
patrace/project/android/exetrace/proguard-project.txt
patrace/project/android/exetrace/project.properties
patrace/project/android/gatewayclient/build.xml
patrace/project/android/gatewayclient/local.properties
patrace/project/android/gatewayclient/project.properties
patrace/project/android/patracesweep/build.xml
patrace/project/android/patracesweep/local.properties
patrace/project/android/patracesweep/project.properties
patrace/project/android/patracesweep/proguard-project.txt
patrace/project/android/integration_tests/app/

# Created by build script from template
patrace/project/android/gatewayclient/res/values/strings.xml
patrace/project/android/gatewayclient/AndroidManifest.xml
patrace/project/android/eglretrace/res/values/strings.xml
patrace/project/android/eglretrace/AndroidManifest.xml

builds
install

*.pyc
.settings
.project
.classpath

# Custom tools goes here
.ropeproject
tags
Makefile

# For python setup.py
patrace/python/pypatrace/MANIFEST
patrace/python/pypatrace/dist/
patrace/python/pypatrace/build/
patrace/python/pypatrace/patrace.py
patrace/python/pypatrace/version.py
patrace/python/pypatrace/patrace_wrap.cpp
patrace/python/patracetools/dist/
patrace/python/patracetools/patracetools/version.py
patrace/python/patracetools/patracetools.egg-info

# MacOS
.DS_Store

# Vim swap files
*.swp
